<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Docs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MPHelperInstallTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MPHelperTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>MPHelperToolIPCTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>MPPortProcess.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MacPorts-embeddable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MacPorts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>216010BD1094D34500EE9CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21D9543D100940EE00DEF58A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>489DD8F30C94365F00595506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EC260860E426FF10013BC48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6ED12A490E3E552F0026773D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EE6DD9D0E626D2800FB2115</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8DC2EF4F0486A6940098B216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DFE353650CFB8F0C003BACFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
